@import "vars";

.section-title {
  padding: 28px 0 32px;
  font-family: $secondary-font;
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;

  color: $dark;

  span {
    border-top: 3px solid $accent1;
    border-bottom: 3px solid $accent1;
    text-align: center;
  }
}
